header,
footer
    {
        background: rgba(19, 19, 19, 1);
    }

.bar__container
    {
        max-width: 1256px;
        min-width: 375px;
        max-height: 83px;
        min-height: 57px;
        margin: auto;
    }

.bar__body
    {
        margin: 0 18px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
    }

.bar__navigation
    {
        margin: 22px 0;
    }

.bar__logo,
.bar__telefon
    {
        color:rgba(227, 184, 115, 1);
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
    }

.bar__telefon
    {
        text-decoration: none;
        text-decoration-line: underline;
    }

.bar__list
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
    }

.bar__list-item
    {
        margin-right: 47px;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
    }

.bar__list-link
    {
        text-decoration: none;
        color: white;
    }

.bar__list-link:hover
    {
        color: rgba(227, 184, 115, 1);
    }